<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="SeleniumAutomationFramework">
        <classes>
            <class name="com.thetestingacademy.tests.PageObjectModelTests.sample.TestCaseBoilerPlate">
                <methods>
                    <include name="test"/>
                </methods>
            </class>
            <class name="com.thetestingacademy.tests.PageObjectModelTests.VWO.TestVWOLogin_01_NormalScript_POM">
                <methods>
                    <include name="test_negative_vwo_login"/>
                    <include name="testLoginPositiveVWO"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>